<div class="container">
  <div class="display">
    <div class="hero">
      <h1>An Eye on Wine</h1>
      <h2>Le nez dans le verre, l'oeil sur l'étiquette...</h2>
    </div>
    <div class="searchbar">
      <h3>Rechercher la cote d'un vin sur les sites de référence :</h3>
    </div>
    <div class="results">
      <p>Nous attendons votre recherche...</p>
    </div>
  </div>
</div>
